.block{
    display: block;
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
}
.inline{
    display: inline;
    background-color: lightgreen;
    padding: 10px;
    margin: 5px;
}
.inline-block{
    display: inline-block;
    background-color: lightyellow;
    padding: 10px;
    margin: 5px;
    height: 50px;
    width: 100px;
}