body {
    background-color: rgb(195, 218, 219);
    background-image: url('Screenshot_20251128_151409_Files by Google.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-size: 12px;
    color: rgb(95, 141, 27);
    font-family:cursive;
} 