body {
    background-color: rgb(213, 178, 246);
    background-image: url('Screenshot_20251128_151409_Files by Google.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-image: fixed;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    padding: 10px;
    margin: 10px; 
    border: 2px solid black;
    border-radius: 25px; 
    border-width: 1.3px;
}
form {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 25px;
    border-width: 1.3px;
}
label{
    display: inline-block;
    width: 120px;
    background-color: rgb(160, 160, 215);
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: Courier, monospace;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
textarea{
    border-radius: 10px;
    padding: 5px;
}
.submit{
    background-color: rgb(242, 29, 6);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
p{
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 14px;
    color: rgb(75, 38, 109);
    font-family: 'Lucida Console', 'Courier New', monospace;
}