* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 255, 243);
    padding: 0;
    margin: 0;
}
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #4CAF50;
    color: rgb(204, 226, 206);
    padding: 15px;
    text-align: center;
    border-bottom: 4px solid #388E3C;
    z-index: 100;
}
.profile-card {
    width: 300px;
    min-height: 380px;
    background-color: rgb(183, 226, 226);
    border: 2px solid #40737d;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.profile-image {
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 25%;
    border: 3px solid #40737d;
    width: 150px;
    height: 160px;
}
.name {
    text-align: center;
    font-weight: bold;
    color: #204d4d;
    margin-bottom: 10px;
}
.bio {
    text-align: center;
    color: #204d4d;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
}
.stats{
    text-align: center;
}
.stat{
    display: inline-block;
    width: 80px;
    margin: 5px;
    padding: 5px;
    background: rgb(186, 177, 92);
    border-radius: 10px;
}
.stat h3{
    color:bisque;
    margin-bottom: 5px;
}
.profile-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d3651c;
    color: wheat;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}